---
import SocialIcons from './SocialIcons.astro';
import { t } from '../lib/i18n';
import type { Locale } from '../lib/i18n';

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const strings = t(locale);
---

<aside class="sidebar">
  <img
    class="sidebar-portrait"
    src="/assets/images/Portrait.jpg"
    alt={strings.sidebar.name}
    width="240"
    height="240"
  />
  <div>
    <p class="name">{strings.sidebar.name}</p>
    <SocialIcons />
    <div class="sidebar-block">
      <span class="label">{strings.sidebar.mailingAddress}</span>
      <p>{strings.sidebar.address}</p>
    </div>
    <div class="sidebar-block">
      <span class="label">{strings.sidebar.workplace}</span>
      <p>{strings.sidebar.workplaceValue}</p>
    </div>
  </div>
</aside>
